<%- include('../public/components/header.ejs') %>

<h1 class="cursive-text" style="font-size: 48px;">
    Select a service:
</h1>

<div class="centered-container" style="margin-top: 64px;">
    <% for(let b of barbers){ %> 
        <a class="service" href="<%- path +'/'+ b %>">
            <div style="padding: 20px; background-color: var(--light-blue);">
                <h1>
                    <%- b %> 
                </h1>
                <h3>
                    <%- "Barber info" %> 
                </h3>
                <h4>
                    <%- "Other" %> 
                </h4>
            </div>
        </a>
    <% } %>
</div>

<%- include('../public/components/footer.ejs') %> 