<%- include('../public/components/header.ejs') %>

<div id="kansa"></div>

<script>
    const ejs = require('ejs');
    document.getElementById('kansa').innerHTML = ejs.render('<%- include("../public/components/header.ejs") %>');
</script>

<h1 class="cursive-text" style="font-size: 48px;">
    Select a service:
</h1>

<div class="centered-container" style="margin-top: 64px;">
    <% for(let s of services){ %> 
        <a class="service" href="<%- path + s.path %>">
            <div style="padding: 20px; background-color: var(--light-blue);">
                <h1>
                    <%- s.name %> 
                </h1>
                <h3>
                    <%- s.info %> 
                </h3>
                <h4>
                    <%- s.price %> 
                </h4>
            </div>
        </a>
    <% } %>
</div>

<%- include('../public/components/footer.ejs') %> 